* {
  box-sizing: border-box;
}
html,
#root {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.title {
  padding: 3rem;
  margin: auto;
  text-align: center;
}
.margin {
  margin: 2rem;
}
.banner {
  width: 100%;
  background-color: rgb(214, 214, 214);
  margin-bottom: 2rem;
  margin: auto;
  text-align: left;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.home-title {
  background-image: url('./assets/bannerimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 4rem;
  width: 100%;
  padding: 4rem;
  text-align: center;
  text-shadow: 3px 2px #303030;
}
.error {
  color: red;
}
