* {
  box-sizing: border-box;
}
html,
#root {
  box-sizing: border-box;
}

body {
  margin: 0;
}
table {
  table-layout: fixed;
  word-wrap: break-word;
}
.margin {
  margin: 2rem;
}
.banner {
  width: 100%;
  background-color: rgb(214, 214, 214);
  margin-bottom: 2rem;
  margin: auto;
  text-align: left;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.home-title {
  background-image: url('./assets/bannerimg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 300%;
  width: 100%;
  text-align: center;
  text-shadow: 3px 2px #303030;
}
.error {
  color: red;
}

ul {
  list-style: none;
}
