.icon {
  color: rgb(255, 255, 255);
  background-color: rgb(143, 143, 143);
  font-size: 1rem;
  width: 100%;
  height: 120px;
  padding: 1.5rem;
}
.card:hover {
  background-color: rgb(223, 223, 223);
}

.text {
  margin: 1rem;
  text-align: center;
}
.link:hover {
  color: rgb(14, 14, 14);
}
.link {
  text-decoration: none;
  color: rgb(53, 53, 53);
}
.container {
  margin: 4.5rem;
}
